<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The 100 Quotes</title>
</head>
<body>
    <h1>The 100 Quotes</h1>
    <form action="/quotes" method="POST">
        <label>Name
            <input type="text" placeholder="Octavia Blake" name="name">
        </label>
        <label>Quote
            <input type="text" placeholder="WE'RE BACK BITCHESSS!" name="quote">
        </label>
        <button type="submit">Submit</button>
    </form>
    <h2>Quotes</h2>
    <ul class="quotes">
        <!-- loop through quotes -->
         <% for(let i = 0; i < quotes.length; i++) {%>
            <li class="quote">
                <span>
                    <%= quotes[i].name %>:
                </span>
                <span>
                    "<%= quotes[i].quote %>"
                </span>
            </li>
        <% } %>
    </ul>
    <div>
        <h2>Trikru invades!</h2>
        <p>Replace the first quote with a quote written by a Trikru warrior</p>
        <button id="update-button">Replace Quote</button>
    </div>
    <div>
        <h2>Remove Indra's Quote</h2>
        <p>
            Delete one of Indra's quotes. Does nothing if there are no more Indra quotes.
        </p>
        <button id="delete-btn">Delete Indra's Quote</button>
    </div>
    <p id="message"></p>
    <script src="/main.js"></script>
</body>
</html>